.btn-primary{
  --btn-bg-color: theme('colors.red.600');
  --btn-text-color: theme('colors.slate.100');
  --btn-border-color: theme('colors.red.700');
}

.btn-primary:hover{
  --btn-bg-color: theme('colors.red.500');
}

.btn-warning{
  --btn-bg-color: theme('colors.yellow.600');
  --btn-text-color: theme('colors.slate.800');
  --btn-border-color: theme('colors.yellow.700');
}

.btn-warning:hover{
  --btn-bg-color: theme('colors.yellow.500');
}